*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

input {
  border: none;
  -webkit-appearance: none;
  outline: none; }

.f-l {
  float: left; }

.f-r {
  float: right; }

.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.cover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/03.loading/loading.gif") no-repeat center, #DEE4E4;
  z-index: 30; }

.loading::before {
  content: '';
  width: 100%;
  height: changeSize(120rem);
  position: absolute;
  background: url("../img/03.loading/loading.gif") no-repeat center/changeSize(60rem) changeSize(60rem);
  top: changeSize(-120rem); }

.loading::after {
  content: '';
  width: 100%;
  height: changeSize(120rem);
  position: absolute;
  background: url("../img/03.loading/loading.gif") no-repeat center/changeSize(60rem) changeSize(60rem);
  bottom: changeSize(-120rem); }

img {
  vertical-align: middle; }

a, a:visited {
  text-decoration: none; }

body {
  position: relative; }

#header {
  background: #ff841d;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e6e6e6; }
  #header .logo {
    height: 34px;
    float: left;
    display: block;
    padding: 12px; }
    #header .logo > img {
      max-height: 25px; }
  #header .download {
    float: right;
    height: 34px;
    padding: 12px; }
    #header .download > img {
      max-height: 34px; }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  #footer .footer-nav .mui-row .mui-col-xs-4 > a {
    font-size: 14px;
    color: #5a5a5a;
    display: block;
    text-align: center;
    line-height: 34px;
    border: 1px solid #ccc;
    box-sizing: border-box; }
    #footer .footer-nav .mui-row .mui-col-xs-4 > a > img {
      width: 15px;
      height: 15px; }
  #footer .footer-content {
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px 0px; }
    #footer .footer-content .title {
      margin: 0; }
      #footer .footer-content .title .app {
        font-size: 12px;
        color: red; }
      #footer .footer-content .title .icon {
        font-size: 12px;
        color: #5a5a5a; }
      #footer .footer-content .title span {
        font-size: 12px;
        color: #5a5a5a; }
    #footer .footer-content .address {
      font-size: 12px;
      color: #5a5a5a;
      margin: 0; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

[hidden], template {
  display: none; }

html,
body {
  height: 100%;
  background-color: #fff; }

#search {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  position: relative; }
  #search > input {
    padding-top: 10px;
    height: 30px;
    border-radius: 30px;
    background-color: #f1f1f1;
    font-size: 16px;
    line-height: 30px;
    border: none; }
  #search > button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff841d;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    border: none; }

.tv {
  background-color: #f2f2f2; }
  .tv .tv-title > h1 {
    font-size: 18px;
    margin: 10px;
    padding-left: 10px;
    color: #000; }
  .tv .tv-content {
    margin: 10px;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    background-color: #fff; }
  .tv .tv-base {
    background-color: #f7f7f7;
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    color: #999;
    text-align: left; }

.container {
  height: 100%; }
  .container .mui-table-view .mui-media-object {
    max-height: 120px;
    max-width: 120px; }
  .container .mui-slider .mui-slider-group .mui-slider-item img {
    height: 300px !important; }
  .container .section {
    font-size: 15px;
    color: #333; }
  .container .price {
    margin-top: 8px;
    margin-bottom: 4px;
    color: red; }
    .container .price .nprice {
      font-size: 18px; }
  .container .base {
    font-size: 10px;
    color: #a1a1a1; }

#footer {
  position: static; }

.mui-control-content {
  background-color: white;
  min-height: 600px; }

.mui-control-content .mui-loading {
  margin-top: 50px; }

/*# sourceMappingURL=salesSort.css.map */